.usersList {
  .usersTable {
    width: 100%;
    .fas, .far {
      font-size: 25px;
    }
    &.responsive {
      display: none;
    }
  }
}

.dataTables_wrapper {

  & > .row {
    width: 100%;
    &:first-child,
    &:last-child {
      padding: 10px 0;
    }
  }
  .dataTables_length label {
    justify-content: flex-start;
    select {
      margin: 0 10px
    }
  }
  .dataTables_info {
    padding-top: 0 !important;
  }
  .dataTables_filter label {
    justify-content: flex-end;
  }
  .paginate_button {
    padding: 0 10px;
  }
  .sorting {

  }
  .sorting_asc {
    &:before {
      display: inline !important;
    }
    &:after {
      display: none !important;
    }
  }
  .sorting_desc {
    &:before {
      display: none !important;
    }
    &:after {
      display: inline !important;
    }
  }
}

@media (max-width: $screen-xs-max) {
  .usersList {
    .usersTable {
      display: none;
      &.responsive {
        display: table;

        td {
          &:last-child {
            text-align: right;
          }
          &.text-center {
            text-align: right !important;
          }
        }
      }
    }
  }

  .dataTables_wrapper {
    & > .row {
      width: 100%;
      margin-left: 0;
      margin-right: 0;
      &:first-child,
      &:last-child {
        padding: 5px 0;
        .col-sm-6, .col-sm-5, .col-sm-7 {
          flex: 0 0 100% !important;
          max-width:100%;
        }
      }
    }
    .dataTables_length label {
      padding: 5px 0;
      justify-content: space-around;
    }

    .dataTables_filter label {
      padding: 5px 0;
      justify-content: space-around;
    }
    .pagination {
      justify-content: space-around !important;
      padding: 5px 0;
    }
  }
}

